@charset 'utf-8';
//-------------------------------------------
// for class.scss
$sassK-class-prefix: "";
$sassK-class-unit: "rem";
$sassK-class-padding-top:(10, 40, 44);
$sassK-class-padding-bottom:(10, 50, 60, 100);
$sassK-class-padding-left:(5, 10);
$sassK-class-padding-right:(5, 10);
$sassK-class-margin-top:(10, 50);
$sassK-class-margin-bottom:(5, 10);
$sassK-class-margin-left:(10);
$sassK-class-margin-right:(10);
$sassK-class-font-size: ();
$sassK-class-color: (f64c4c, f64c4c, 999);
$sassK-class-height: (32, 35, 40, 44, 140);
$sassK-class-height-percent: ();
$sassK-class-width: (90);
$sassK-class-width-percent: (80m);
$sassK-class-position-relative-top: ();
$sassK-class-position-relative-left: ();
$sassK-class-position-relative-right: ();
$sassK-class-position-relative-bottom: ();
$sassK-class-important: "m";
//-------------------------------------------
// for btn-active.scss
$sassK-btn-active-darken: 5%;
//-------------------------------------------
// for reset.scss
$sassK-reset-margin-base: 1rem;
$sassK-reset-padding-base: 1rem;
$sassK-reset-font-family-base: 'Microsoft Yahei';
$sassK-reset-font-size-base: 1.4rem;
$sassK-reset-line-height-base: 1.5;
$sassK-reset-bg-color-base: #f3f3f0;
$sassK-reset-text-color-base: #333;
$sassK-reset-border-color-base: #ddd;
$sassK-reset-border-radius-base: 0.2rem;
$sassK-reset-border-radius-lg: 0.4rem;
$sassK-reset-zIndex-base: 100;
$sassK-reset-zIndex-lg: 200;
//-------------------------------------------
// web site global
$janbuy-btn-height-base: 4.4rem;
$janbuy-border-radius-base: 0.2rem;
$janbuy-border-color: #f4f3f1;