<section class="header-wraper">
  <header>
    <div class="logo">
      <span>Phones & Electronics</span>
      <span>Design</span>
    </div>
    <div class="search">
      <input type="text" placeholder="请搜索关键词">
      <button>
        <i class="icon icon-search"></i>
      </button>
    </div>
    <div class="shopping-cart">
      <span>我的购物车</span>
      <span class="icon icon-triangle-down"></span>
      <span class="icon icon-shopping-cart"></span>
      <div class="shopping-cart-empty">
        <div class="icon icon-shopping-cart-empty"></div>
        <div class="text">您的购物车内暂时没有任何产品。</div>
      </div>
    </div>
  </header>
</section>