<section class="nav-wraper">
  <nav>
    <div class="nav-global">
      <span class="text">全部商城分类</span>
      <ul>
        <li class="item">
          <div class="item-icon"></div>
          <div class="item-title">
            <h2>办公设备</h2>
            <p class="text">
              <a href="#">投影仪</a>
              <a href="#">打印机</a>
            </p>
          </div>
          <div class="item-content">
            <div class="text">投影仪</div>
            <div class="text">打印机</div>
          </div>
        </li>
        <li class="item">
          <div class="item-icon"></div>
          <div class="item-title">
            <h2>办公电脑</h2>
            <p class="text">
              <a href="#">笔记本呢</a>
              <a href="#">台式电脑</a>
            </p>
          </div>
          <!-- <div class="item-content">
            <div class="text">笔记本呢</div>
            <div class="text">台式电脑</div>
          </div> -->
        </li>
        <li class="item">
          <div class="item-icon"></div>
          <div class="item-title">
            <h2>手机通讯</h2>
            <p class="text">
              <a href="#">手机</a>
              <a href="#">手表</a>
            </p>
          </div>
          <!-- <div class="item-content">
            <div class="text">手机</div>
            <div class="text">手表</div>
          </div> -->
        </li>
        <li class="item">
          <div class="item-icon"></div>
          <div class="item-title">
            <h2>摄影设备</h2>
            <p class="text">
              <a href="#">单反相机</a>
              <a href="#">运动摄像</a>
            </p>
          </div>
          <!-- <div class="item-content">
            <div class="text">单反相机</div>
            <div class="text">运动摄像</div>
          </div> -->
        </li>
        <li class="item">
          <div class="item-icon"></div>
          <div class="item-title">
            <h2>网络设备</h2>
            <p class="text">
              <a href="#">服务器</a>
              <a href="#">路由器</a>
            </p>
          </div>
          <!-- <div class="item-content">
            <div class="text">服务器</div>
            <div class="text">路由器</div>
          </div> -->
        </li>
      </ul>
    </div>
    <ul class="nav-box">
      <li class="nav-item">
        <a href="/">首页</a>
      </li>
      <li class="nav-item">
        <a href="/">新品发布</a>
      </li>
      <li class="nav-item">
        <a href="/">长期下单</a>
      </li>
      <li class="nav-item">
        <a href="/">灵活短租</a>
      </li>
      <li class="nav-item">
        <a href="/">企业回收</a>
      </li>
    </ul>
  </nav>
</section>