<section class="nav-wraper">
  <nav>
    <div>全部商城分类</div>
    <ul>
      <li class="nav-item">
        <a href="/">首页</a>
      </li>
      <li class="nav-item">
        <a href="/">新品发布</a>
      </li>
      <li class="nav-item">
        <a href="/">长期下单</a>
      </li>
      <li class="nav-item">
        <a href="/">灵活短租</a>
      </li>
      <li class="nav-item">
        <a href="/">企业回收</a>
      </li>
    </ul>
  </nav>
</section>