.full-screen {
    width: 100%;
    height: 100%;
}

#app {
    @extend .full-screen;
}

.navClass {
    color: inherit;
}

.mr16 {
    margin-right: 16px;
}

.mb16 {
    margin-bottom: 16px;
}

.userWraper {
    width: 300px;
    padding-top: 16px;
}

.mocalContentWraper {
    min-height: 200px;
}

.box {
    width: 150px;
    height: 150px;
    background: url('../img/02.jpg') no-repeat 0 0;
}

.baseLine {
    margin-bottom: 16px;
}