@charset 'UTF-8';

@import 'compass';
@import 'compass/reset';

.gutter-box{
	height: 80px;
	line-height: 80px;
	border-radius: 4px;
	background-color: #ddd;
	text-align: center
}

.pt20{
	padding-top: 20px;
}

.badge-demo{
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #eee;
	display: inline-block;
}