<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="../includes/styles/normalize-v8.0.1.css">
  <link rel="stylesheet" href="../includes/styles/common.css">
  <link rel="stylesheet" href="../includes/styles/styles.css">
</head>
<body>
<div class="page-container">
  <div class="page-box page-header">
    <div class="logo"></div>
    <div class="text">
      <div class="phone">
        <h2>咨询热线</h2>
        <p>400-8868888</p>
      </div>
      <div class="memo">
        <h2>追求品质，追求卓越</h2>
        <p>THE PURSUIT OF EXCELLENCE</p>
      </div>
    </div>
  </div>
  <div class="page-banner">
    <img src="../includes/images/banner.jpg" alt="">
  </div>
  <div class="page-nav">
    <ul class="page-box">
      <li class="active">
        <a href="index.php">首页</a>
      </li>
      <li>
        <a href="calculator.php">Calculator</a>
      </li>
      <li>
        <a href="index.php">Link Three</a>
      </li>
      <li>
        <a href="index.php">Link Four</a>
      </li>
      <li>
        <a href="index.php">Link Five</a>
      </li>
    </ul>
  </div>
  <div class="page-box page-content">
    <h1 class="title">关务我们</h1>
    <p class="detail">有限公司成立于2008年，公司总部位于中国广州市，一直坚持“科技创新、质量第一”的管理信念，在国内外打下坚实的基础，成为中国知名专业品牌。我们坚决不做“装配工厂”而大力投资配备现代化加工设备及先进的检测仪器，实行整机自行生XXX有限公司成立于2008年，公司总部位于中国广州市，一直坚持“科技创新、质量第一”的管理信念，在国内外打下坚实的基础，成为中国知名专业品牌。我们坚决不做“装配工厂”而大力投资配备现代化加工设备及先进的检测仪器，实行整机自行生XXX有限公司成立于2008年，公司总部位于中国广州市，一直坚持“科技创新、质量第一”的管理信念，在国内外打下坚实的基础，成为中国知名专业品牌。</p>
  </div>
  <div class="page-footer">
    <p>版权所有</p>
  </div>
</div>
</body>
</html>