{
    "presets": ["es2015", "react"],
    "compact" : true,
    "plugins": [
        [
            "import", {
                "libraryName": "antd",
                "style": true
            }
        ]
    ]
}