.main-title {
  margin: 0;
  display: flex;
  align-items: center;
  height: @main-title-height;
  font-size: @main-title-font-size;
  font-weight: normal;
  color: @main-title-color;
  border-bottom: 1px solid @web-page-border-color;

  > span {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    border-bottom: 1px solid @web-page-main-color;
  }
}