// web
@web-page-width: 960px;

@web-page-font-family: 'Microsoft YaHei';
@web-page-font-size-small: 12px;
@web-page-font-size-base: 14px;
@web-page-font-size-big: 18px;
@web-page-font-size-large: 30px;

@web-page-line-height: 1.8;

@web-page-bg-color: #fff;
@web-page-main-color: #f13a3a;
@web-page-text-color: #333;
@web-page-sub-color: #808080;
@web-page-border-color: #eaeaea;

@web-page-space: 20px;
@web-page-space-big: 30px;
@web-page-space-large: 50px;
@web-page-space-small: 10px;

// body
@body-bg-color: @web-page-bg-color;
@body-font-family: @web-page-font-family;
@body-font-size: @web-page-font-size-base;
@body-line-height: @web-page-line-height;
@body-text-color: @web-page-text-color;

// header
@header-height: 120px;
@header-bg-color: @web-page-main-color;
@header-text-color: #fff;
@header-logo-font-size: @web-page-font-size-large;
@header-phone-font-size: @web-page-font-size-big + 6px;

// nav
@nav-bg-color: #fdff5b;
@nav-height: 80px;
@nav-item-width: 100px;
@nav-item-height: 40px;
@nav-item-active-bg-color: @web-page-main-color;
@nav-item-active-text-color: #fff;
@nav-item-text-color: #fff;
@nav-item-font-size: @web-page-font-size-big;
@nav-item-border-radius: 20px;
@nav-item-space: @web-page-space-small;

// banner
@banner-height: 450px;


// title
@main-title-height: 46px;
@main-title-font-size: @web-page-font-size-big;
@main-title-color: @web-page-main-color;
@primary-title-height: 56px;

// footer
@footer-height: 120px;
@footer-bg-color: @web-page-text-color;
@footer-text-color: #646464;
@footer-text-font-size: @web-page-font-size-base;

// make-online
@form-control-height: 36px;