@charset 'utf-8';
$sassK-btn-active-darken: 5% !default;
@mixin k-btn-active($bg, $reset: true) {
	@if $reset == true {
		background-color: $bg;
	}
	&:active {
		background-color: darken($bg, $sassK-btn-active-darken);
	}
}