@charset "UTF-8";
// image
%k-base-image {
	display: inline-block;
	width: 100%;
	height: 100%;
}

%k-base-image-mobile {
	display: inline-block;
	max-width: 100%;
	height: auto;
}
%k-base-image-reset{
	font-size: 0;
	line-height: 0;
}

//form
%k-base-form {
	display: block;
	width: 100%;
	min-height: 1.2em;
	vertical-align: middle;
	font-size: $sassK-reset-font-size-base;
	font-family: $sassK-reset-font-family-base;
	background-color: transparent;
	color: inherit;
	border: none;
	outline: none;
	padding: 0;
	&:focus,
	&:active,
	&:hover {
		outline: none;
	}
}

//button
%k-base-btn{
	@extend %k-base-form;
	white-space: nowrap;
	text-align: center;
}
