@charset "UTF-8";
// set html font-size
@mixin k-html-fontsize( $min, $max) {
	@if $min==-1 {
		@media screen and (max-width: $max+px) {
			html {
				font-size: ( ($max+1) / 320) * 10px;
			}
		}
	} @else if $max==-1 {
		@media screen and (min-width: $min+px) {
			html {
				font-size: ( $min / 320) * 10px;
			}
		}
	} @else {
		@media screen and (min-width: $min+px) and (max-width: $max+px) {
			html {
				font-size: ( $min / 320) * 10px;
			}
		}
	}
}
@include k-html-fontsize(-1, 319);
@include k-html-fontsize(320, 359);
@include k-html-fontsize(360, 374);
@include k-html-fontsize(375, 383);
@include k-html-fontsize(384, 399);
@include k-html-fontsize(400, 413);
@include k-html-fontsize(414, -1);
