#container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#header {
  text-align: right;
  margin-bottom: 30px;
}

#navigation {
  height: 40px;
  margin-bottom: 20px;
}

#navigation li {
  float: left;
  width: 20%;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-left: -1px;
}

#navigation li a {
  text-decoration: none;
  font-size: 14px;
}

#navigation li a:hover {
  text-decoration: underline;
}

#content {
  margin-bottom: 30px;
  padding: 16px;
}

#content h1 {
  border-bottom: 1px dashed #ddd;
  line-height: 2;
  margin-bottom: 10px;
}

#content p {
  text-indent: 2em;
  margin-bottom: 10px;
}

#footer {
  border-top: 1px solid #ddd;
  line-height: 50px;
  text-align: center;
}

.ad {
  font-weight: bold;
  font-size: 14px;
}

.login-form {
  width: 400px;
}

.form-control {
  margin-bottom: 18px;
  padding-left: 80px;
  position: relative;
  line-height: 28px;
}

.form-control label {
  width: 80px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: right;
}

.form-control .form-item {
  border: 1px solid #ddd;
  height: 28px;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
  width: 100%;
}

.form-control button.form-item {
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #eee;
  cursor: pointer;
}

.form-control button.form-item:hover,
.form-control button.form-item:active {
  background: #aeaeae;
}