/* line 3, ../sass/main.scss */
.pt20 {
  padding-top: 20px;
}

/* line 8, ../sass/main.scss */
.spa-content {
  border: 1px solid #eee;
  padding: 10px;
  margin-top: 20px;
  min-height: 400px;
}

/* line 15, ../sass/main.scss */
.active {
  color: red;
}
