@charset "UTF-8";

.todoApp{
	list-style: none;
	> .todoItem{
		@include clearfix;
		border-bottom: 1px solid #aaa;
		line-height: 30px;
		> .delete{
			cursor: pointer;
			&:hover{
				color: #f00;
			}
		}
		> .span1{
			margin-right: 10px;
			font-size: 10px;
		}
		> .span2{
			color: #ff3;
			padding: 0 20px;
		}
	}
}