@charset "utf-8";
@import "compass";
@import "lcModel";

.w100{
	width: 120px !important;
}

.w200{
	width: 200px !important;
}

.mr20{
	margin-right: 20px;
}

.btn{
	outline: none !important;
	&:active,
	&:focus{
		outline: none !important;
	}
}

.list-wraper{
	td, th{
		vertical-align: middle !important;
	}
}