<!doctype html>
<html>

<head>
  <title>Meadowlark Travel</title>
  <link rel="stylesheet" href="/css.css">
</head>

<body>
  <header class="img">
    <img src="/img/am.png" alt="Meadowlark Travel Logo">
  </header>
  {{{body}}}
</body>

</html>