@import 'var.less';
@import 'base.less';
@import 'nav.less';

.header-wraper {

  > header {
    .h-center;
  }

  .logo {

  }

  .search {

  }

  .shopping-cart {

  }
}




.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-search {
  width: 17px;
  height: 16px;
  background-image: url('../img/search.png');
}

.icon-shopping-cart {
  width: 18px;
  height: 15px;
  background-image: url('../img/shopping-cart-small.png');
}

