// global web
@web-page-width: 1200px;
@web-page-font-family: "Microsoft Yahei";
@web-page-font-size: 12px;

// nav
@nav-height: 45px;
@nav-bg-color: #076ce0;
@nav-bg-active-color: #0052b1;
@nav-text-color: #fff;
@nav-text-font-size: 16px;
@nav-first-width: 245px;
@nav-item-width: 120px;