@charset 'utf-8';
$layout-border-color: $janbuy-border-color;
$layout-margin-bottom: $sassK-reset-margin-base;
$layout-line-height: 4.4rem;
%layout-arrow {
    background: inline-image('layout/arrow-right.png') no-repeat right center;
    background-size: 0.8rem;
    padding-right: 1.4rem;
}

%layout-btn-active {
    @include k-btn-active(#fff, false);
}

%layout-padding{
    padding-left: $sassK-reset-padding-base;
    padding-right: $sassK-reset-padding-base;
}

article.layout-group {
    margin-bottom: $layout-margin-bottom;
    &:last-child,
    &.layout-last {
        margin-bottom: 0;
    }
    > .layout-item {
        background-color: #fff;
        display: block;
        @extend %layout-padding;
        > .layout-row {
            border-bottom: 1px solid $layout-border-color;
            > [class^='layout-col'] {
                font-size: 1.4rem;
            }
            > .layout-col-sub {
                color: #9b9b9b;
                font-size: 1.2rem;
            }
            @each $cls in left, top, right, bottom {
                .layout-col-#{$cls}-line {
                    border-#{$cls}:1px solid $layout-border-color;
                }
            }
        }
        &.last-child,
        &:last-child {
            > .layout-row {
                border-bottom: none;
            }
        }
    }
    .layout-arrow {
        @extend %layout-arrow;
    }
    .layout-btn {
        @extend %layout-btn-active;
    }
    [class^='layout-text']{
        @extend %layout-padding;
        font-size: 1.2rem;
        color: #9b9b9b;
        line-height: 2em;
    }
    .layout-text-error{
        color: #f33;
    }
}
