@charset "UTF-8";
.swipe-box{
	position: relative;
}

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	height: 100%;
	z-index: 1;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
	height: 100%;
}
.swipe-wrap > .figure {
	float: left;
	width: 100%;
	position: relative;
	height: 100%;
	img{
		width: 100%;
		height: 100%;
	}
}
.swipe-page{
	position:absolute;
	left: 0;
	right: 0;
	bottom: 1.2rem;
	z-index: 2;
	text-align: center;
	i{
		@include inline-block;
		width: 0.5rem;
		height: 0.5rem;
		background:#f7f8f6;
		vertical-align: middle;
		@include border-radius(50%);
		&.active{
			background:#ff0000;
		}
	}
}