@charset 'utf-8';
$page-toolbar-height: 5rem;
$page-toolbar-bg-color: #fafafa;
$page-toolbar-text-color: #a5a5a5;
$page-toolbar-text-active-color: #f64c4c;
$page-toolbar-border-color: #d9d9d9;
$page-toolbar-font-size: 1.2rem;
$page-toolbar-zIndex: 200;
.page-toolbar {
    border-top: 1px solid $page-toolbar-border-color;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: $page-toolbar-height;
    background-color: $page-toolbar-bg-color;
    z-index: $page-toolbar-zIndex;
    ul {
        height: $page-toolbar-height;
    }
    li {
        .wraper {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.2rem;
            position: relative;
        }
        &:active,
        &.active {
            color: $page-toolbar-text-active-color;
        }
        width: 25%;
        height: 100%;
        float: left;
        padding-top: 0.8rem;
        color: $page-toolbar-text-color;
        font-size: $page-toolbar-font-size;
        text-align:center;
    }
    @each $cls in home,
    classify,
    shopingcart,
    user {
        .toolbar-#{$cls} {
            .wraper {
                background: inline-image('toolbar/#{$cls}.png') no-repeat center center;
            }
            &:active,
            &.active {
                .wraper {
                    background-image: inline-image('toolbar/#{$cls}-active.png');
                }
            }
        }
    }
    .toolbar-home {
        .wraper {
            background-size: 2.1rem;
            width: 2.1rem;
            height: 1.9rem;
        }
    }
    .toolbar-classify {
        .wraper {
            background-size: 2rem;
            width: 2rem;
            height: 1.8rem;
        }
    }
    .toolbar-shopingcart {
        position: relative;
        .wraper {
            background-size: 1.9rem;
            width: 1.9rem;
            height: 1.8rem;
        }
        .code{
            position: absolute;
            display: block;
            background-color: #f64c4c;
            color: #fff;
            border: 1px solid #fff;
            @include border-radius(1.6rem);
            left: 1.5rem;
            top: -.5rem;
            font-size: 1rem;
            padding: 0 0.3rem;
            height: 1.6rem;
            line-height: 1.6rem;
            min-width: 1.6rem;
            text-align: center;
        }
    }
    .toolbar-user {
        .wraper {
            background-size: 1.8rem;
            width: 1.8rem;
            height: 1.6rem;
        }
    }
}

