.global-width {
    width: 100%;
}

.global-height {
    height: 100%;
}

.global-fullScreen {
    @extend .global-width;
    @extend .global-height;
}


.global-wraper {
    width: 1200px;
}

.global-center {
    margin-left: auto;
    margin-right: auto;
}

#app {
    @extend .global-fullScreen;
}