.headerWraper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #fff;
    @extend .global-center;
    .headerCls {
        max-width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.headerLogoCls {
    float: left;
    color: #444;
    @extend .global-height;
    .logoLink {
        display: block;
        background: url("../../assets/img/logo.png") no-repeat 0 center;
        background-size: 40px 33px;
        padding-left: 44px;
        padding-top: 28px;
        @extend .global-height;
        span, i {
            display: block;
            font-size: 10px;
            color: #999;
            margin: 0 8px;
            text-align: center;
            font-style: normal;
        }
        span {
            font-size: 22px;
            color: #199ed1;
            line-height: 1;
            font-style: normal;
            overflow: hidden;
            display: block;
            text-align: justify;
            text-justify: inter-ideograph;
            text-align-last: justify;
        }
    }
    .logoText {
        font-size: 13px;
        color: #999;
    }
}

.headerUserCls {
    float: right;
    @extend .global-height;
    display: table;
    .userChild {
        display: table-cell;
        vertical-align: middle;
    }
}