@charset "utf-8";

.detail-swipe{
	height: 32rem;
	position: relative;
}

%detail-padding{
	padding-left: $sassK-reset-padding-base;
	padding-right: $sassK-reset-padding-base;
}

.detail-name{
	background:#fff;
	@extend %detail-padding;
	margin-bottom: 1rem;
	border-bottom: 1px solid $janbuy-border-color;
	line-height: 1.4;
	.name{
		color: #2d2d2d;
		line-height: 2.2rem;
		padding: 1rem 0;
	}
	.price{
		color: #9d9d9d;
		border-bottom: 1px solid $janbuy-border-color;
		padding-bottom: 1rem;
		span{
			font-size: 1.7rem;
			color: #f54b4b;
			margin-right: 1rem;
		}
		i{
			text-decoration: line-through;
			margin-right: 1rem;
		}
	}
	.text{
		font-size: 1.2rem;
		line-height: 1.8;
		display: table;
		width: 100%;
		border-bottom: 1px solid $janbuy-border-color;
		&:last-child{
			border-bottom: none;
		}
		li{
			display: table-cell;
			width: 50%;
			height: 3.2rem;
			vertical-align: middle;
			color: #444;
			text-align: right;
			&:first-child{
				text-align: left;
			}
		}
	}
}

// 详情其他部分
.detail-other{
	margin-bottom: 1rem;
}

// 详情内容部分
.detail-content{
	text-align: center;
	img{
		@extend %k-base-image-mobile;
		display: block;
	}
	p{
		text-align: left;
		padding: 0.5rem 1rem;
	}
}

// 详情页底部按钮组
.detail-btns{
	$height: 5rem;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $sassK-reset-zIndex-base;
	ul{
		height: $height;
	}
	li{
		text-align: center;
		&.home,
		&.shou{
			padding-top: 2.9rem;
			width: 5.4rem;
			font-size: 1.2rem;
			color: #949494;
			@include k-btn-active(#fff, false);
			border-top: 1px solid $janbuy-border-color;
		}
		&.home{
			background:#fff inline-image("detail/home.png") no-repeat center 0.8rem;
			background-size: 2.1rem;
		}
		&.shou{
			background:#fff inline-image("detail/shou.png") no-repeat center 0.8rem;
			background-size: 2rem;
			border-left: 1px solid $janbuy-border-color;
			&.active{
				background-image: inline-image("detail/shou_active.png");
				background-size: 1.9rem;
				color: #f54b4b;
			}
		}
		&.add,
		&.buy{
			font-size: 1.5rem;
			width: 10rem;
			color: #fff;
			line-height: $height;
		}
		&.add{
			@include k-btn-active(#ff9402);
		}
		&.buy{
			@include k-btn-active(#f54b4b);
		}
	}
}

// 选择商品属性
.detail-choose{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: $sassK-reset-zIndex-lg;
	display: none;
}

.detail-choose-mask{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
}
.detail-choose-content{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background:#fff;
	> .btn-confirm{
		@include border-radius(0);
	}
}
.detail-choose-content-top{
	padding: 0 1rem;
	> .head{
		position: relative;
		height: 6rem;
		padding-left: 8rem;
		padding-right: 3rem;
		border-bottom: 1px solid $janbuy-border-color;
		img{
			position: absolute;
			left: 0;
			bottom: 1rem;
			width: 7rem;
			height: 7rem;
			display: block;
			@include border-radius(0.4rem);
		}
		h3{
			line-height: 1.8;
			@include ellipsis;
			padding-top: 0.5rem;
		}
		p{
			color: #f54b4b;
			code{
				color: #b4b4b4;
				text-decoration: line-through;
				font-size: 1.2rem;
				margin-left: 0.5rem;
			}
		}
		.icon-close{
			position: absolute;
			right: 0;
			top: 2rem;
		}
	}
	> .guige{
		padding: 0.5rem 0;
		border-bottom: 1px solid $janbuy-border-color;
		h3{
			line-height: 2;
		}
		p{
			@extend .cl;
		}
		span{
			display: block;
			float: left;
			height: 2.8rem;
			line-height: 2.6rem;
			padding: 0 1rem;
			border: 1px solid #ddd;
			background-color: #fff;
			margin-right: 1rem;
			margin-bottom: 0.5rem;
			font-size: 1.2rem;
			@include border-radius(0.2rem);
			&:active{
				border-color: #f24343;
				background-color: #f24343;
				color: #fff;
			}
		}
	}
	> .number{
		border-bottom: 1px solid $janbuy-border-color;
		height: 4.5rem;
		padding: 1rem 0;
		margin-bottom: 1rem;
		line-height: 2.5rem;
		.shopingcart-number{
			float: right;
		}
	}
}