@charset 'utf-8';

// 支付地址
.pay-address{
	padding: 1rem 1rem 1rem 0;
	position: relative;
	font-size: 1.2rem;
	background-color: #fff;
	&:before,
	&:after{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		background:#fff inline-image("shopingcart/ceng.png") repeat-x 0 0;
		background-size: 4.8rem;
		width: 100%;
		height: 0.2rem;
	}
	&:before{
		top: 0;
	}
	&:after{
		bottom: 0;
		background-position: 0 bottom;
	}
	&.pay-address-btn{
		@include k-btn-active(#fff, false);
		ul{
			background:inline-image("layout/arrow-right.png") no-repeat right center;
			background-size: 0.7rem;
			padding-right: 2rem;
		}
	}
	ul{
		display: table;
		width: 100%;
		li{
			display: table-row;
			line-height: 2rem;
			.td{
				padding-left: 1rem;
				display: table-cell;
				vertical-align: middle;
				&:first-child{
					white-space: nowrap;
					vertical-align: top;
				}
			}
		}
	}
}

// 支付方式
.pay-type{
	.pay-type-item{

		font-size: 1.2rem;
		padding-left: $sassK-reset-padding-base;
		padding-right: $sassK-reset-padding-base;
		@include k-btn-active(#fff);
		.content{
			border-bottom: 1px solid $janbuy-border-color;
		}
		&:last-child{
			.content{
				border-bottom: none;
			}
		}
		@each $cls in zhifu, weixin, yinlian {
			.#{$cls}{
				background: inline-image("shopingcart/#{$cls}.png") no-repeat 0 center;
				background-size: 2.1rem;
			}
		}
		.content{
			display: table;
			width: 100%;
			height: 3.6rem;
			padding-left: 3.2rem;
			.td {
				display: table-cell;
				vertical-align: middle;
			}
		}
		.tips{
			font-size: 1.2rem;
			color: #666;
			line-height: 2;
			margin-top: -0.5rem;
			padding-bottom: 0.5rem;
			padding-left: 3.2rem;
		}
	}
}

// pay-total
.pay-total{
	background: #fff;
	padding: 1rem;
	p{
		line-height: 2;
		span{
			float: right;
			color: #f54b4b;
		}
	}
}

// 支付页按钮组
.pay-btns-wraper{
	$height: 4rem;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: $height;
	line-height: $height;
	z-index: $sassK-reset-zIndex-base;
	border-top: 1px solid #d9d9d9;
	overflow: hidden;
	background:#fff;
	padding-left: $sassK-reset-padding-base;
	.text{
		float: right;
		font-size: 1.2rem;
		padding: 0.2rem 0.5rem;
		text-align: right;
		color:#949494;
		span{
			color: inherit;
		}
		.all{
			color:#333333;
		}
		.price{
			color:#f54b4b;
			font-size: 1.3rem;
		}
	}
	button{
		@extend .btn;
		float: right;
		padding: 0 1rem;
		font-size: 1.4rem;
		color: #fff;
		width: auto;
		height: $height;
		@include k-btn-active(#f64c4c);
	}
}