@charset "utf-8";
.search-tag{
	padding-left: $sassK-reset-padding-base;
	padding-right: $sassK-reset-padding-base;
	h3{
		width: 100%;
		font-size: 1.5rem;
		color: #414249;
		line-height: 3.6rem;
		padding-top: 1rem;
		padding-bottom: 0.5rem;
	}
	.tags{
		@extend .cl;
		li{
			float: left;
			padding-bottom: 1rem;
			padding-right: 1.5rem;
			height: 4rem;
			line-height: 3rem;
		}
		span{
			border: 1px solid #ddd;
			display: block;
			padding: 0 1.5rem;
			@include border-radius($sassK-reset-border-radius-lg);
			font-size: 1.2rem;
			color: #949494;
			@include k-btn-active(#fff);
		}
	}
}

