@charset "utf-8";
// 购物车
$shopingcart-line-height-base: 3.6rem;

.shopingcart-wraper{
	padding-top: 1rem;
}
.shopingcart-item{
	padding-left: $sassK-reset-padding-base;
	padding-right: $sassK-reset-padding-base;
	background: #fff;
	margin-bottom: $sassK-reset-margin-base;
	&:last-child{
		margin-bottom: 0;
	}
	.shopingcart-item-td{
		.form-radio{
			margin-right: 0.5rem;
		}
	}
}

.shopingcart-item-hd,
.shopingcart-item-bd{
	.shopingcart-item-td-1{
		width: 3.5rem;
	}
}

.shopingcart-item-hd{
	height: $shopingcart-line-height-base;
	line-height: $shopingcart-line-height-base;
	border-bottom: 1px solid #f3f2f0;
	display: table;
	width: 100%;
	[class^='shopingcart-item-td']{
		display: table-cell;
		vertical-align: middle;
	}
	.name{
		display: inline-block;
		height: $shopingcart-line-height-base;
		background:inline-image("shopingcart/home.png") no-repeat 0 center;
		background-size: 1.4rem;
		color:#333;
		font-size: 1.4rem;
		padding-left: 2.6rem;
	}
	// 订单状态
	.status{
		float: right;
		color: #f54b4b;
	}
}

.shopingcart-item-bd{
	padding: 1.2rem 0;
	border-bottom: 1px solid #f3f2f0;
	min-height: 10rem;
	.shopingcart-item-td-2{
		img{
			@include inline-block;
			width:6.4rem;
			height:6.4rem;
		}
	}
	.shopingcart-item-td-3{
		padding-left: 1rem;
		padding-right: 1rem;
		h4{
			color: #333333;
			font-size: 1.4rem;
			font-weight: normal;
			overflow: hidden;
			height: 3rem;
			line-height: 3rem;
			margin-bottom: 0.5rem;
		}
	}
	.shopingcart-item-td-4{
		text-align: right;
		width: 6rem;
		.p1{
			font-size: 1.4rem;
			height: 3rem;
			line-height: 3rem;
		}
		.p2{
			color: #b4b4b4;
			font-size: 1.2rem;
			line-height: 1.2;
			text-decoration: line-through;
		}
		.shopingcat-delete{
			@include inline-block;
			background:inline-image("shopingcart/delete.png") no-repeat center center;
			background-size: 1.9rem;
			width:1.9rem;
			height:1.9rem;
			&:active{
				background-color:darken(#fff, 5%);
			}
		}
	}
	.text{
		color: #999;
		font-size: 1.2rem;
	}
}

.shopingcart-item-ft{
	line-height: 2;
	font-size: 1.2rem;
	.row{
		padding: 0.5rem 0;
		border-bottom: 1px solid #f3f2f0;
		&:last-child{
			border-bottom: none;
		}
	}
	.btn-group{
		text-align: right;
		padding: 1rem 0;
		button{
			@extend .btn;
			width: auto;
			display: inline-block;
			height: 2.8rem;
			padding: 0 1rem;
			margin-left: 1rem;
			border: 1px solid transparent;
			@include border-radius($janbuy-border-radius-base);
			@include k-btn-active(#fff);
		}
		.btn-blank{
			border-color: #333;
			color: #333;
		}
		.btn-red{
			border-color: #f54b4b;
			color: #f54b4b;
		}
	}
}

.shopingcart-btn-wraper{
	$height: 4rem;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 5rem;
	overflow: hidden;
	height: $height;
	line-height: $height;
	background: #fff;
	padding-left: $sassK-reset-padding-base;
	border-top: 1px solid #d9d9d9;
	.p1{
		color: #333;
	}
	.p2{
		color:#949494;
	}
	.text{
		float: right;
		font-size: 1.2rem;
		line-height: 1.8rem;
		padding: 0.2rem 0.5rem;
		text-align: right;
		.price{
			color:#f54b4b;
			font-size: 1.3rem;
		}
	}
	.shopingcart-btn{
		@extend .btn;
		float: right;
		padding: 0 1rem;
		font-size: 1.4rem;
		color: #fff;
		width: auto;
		height: $height;
		@include k-btn-active(#f64c4c);
	}
}

.shopingcart-msg{
	background: #f3f2f0;
	textarea{
		font-size: 1.2rem;
	}
}

// 购物车空
.shopingcart-none{
	background:inline-image("shopingcart/none.png") no-repeat center 4rem;
	background-size: 10rem;
	text-align: center;
	padding-top: 12rem;
	padding-bottom: 2rem;
	p{
		color: #999999;
		font-size: inherit;
		line-height: 5rem;
	}
}
