@charset 'utf-8';

.user-comment-add{
	padding-top: 1rem;
	padding-bottom: 6rem;
	.user-comment-add-item{
		background-color: #fff;
		padding: 0 1rem;
	}
}

.user-comment-add-item-head{
	display: table;
	width: 100%;
	margin-bottom: 1rem;
	padding-top: 1rem;
	.img,
	.text{
		display: table-cell;
		vertical-align: top;
	}
	.img{
		width: 6rem;
		height: 6rem;
		img{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.text{
		line-height: 0;
		font-size: 0;
		textarea{
			display: block;
			height: 10rem;
		}
	}
}

.user-comment-add-item-uploadimage{
	padding: 1.4rem 0;
	border-bottom: 1px solid $janbuy-border-color;
	ul{
		height: 6rem;
	}
	li{
		float: left;
		width: 6rem;
		height: 6rem;
		margin-right: 1rem;
		@include border-radius(0.3rem);
		&.img{
			line-height: 0;
			font-size: 0;
		}
		img{
			width: 100%;
			height: 100%;
		}
		&.text{
			background: inline-image("user/xiangji.png") no-repeat center center;
			background-size: 1.8rem;
			border: 1px solid #e7e7e7;
			@include k-btn-active(#fff, false);
		}
		&.other{
			line-height: 6rem;
			text-align: center;
			color: #9d9d9d;
		}
	}
}
// 评论类型
.user-comment-add-type{
	height: 3.5rem;
	line-height: 3.5rem;
	display: table;
	width: 100%;
	.type{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		color: #9c9c9c;
		&.active,
		&:active{
			background-color: darken(#fff, 5%);
			color: #f43f3f;
		}
	}
}
// 评分
.user-comment-score {
    line-height: 3rem;
    background-color: #fff;
    padding: 1rem 0;
    .score-item {
        @extend .cl;
        padding: 0 1rem;
        color: #9c9c9c;
        span {
            font-size: 1.5rem;
            float: left;
            color: #333;
        }
    }
    [class^='user-comment-score-item'] {
        float: right;
        i {
            margin-left: 0.5rem;
            float: left;
        }
    }
    @for $i from 1 through 5 {
    	.user-comment-score-item-#{$i} {
    		i:nth-child(-n + #{$i}){
    			color: #f54b4b;
    		}
    	}
    }
}

// 评论按钮
.user-comment-btns{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	line-height: 5rem;
	padding-left: 1rem;
	border-top: 1px solid $janbuy-border-color;
	.btn{
		height: 5rem;
		line-height: 5rem;
		background-color: #f54b4b;
		color: #fff;
		width: 10rem;
		font-size: 1.5rem;
	}
}