@charset "utf-8";
.user-coupons{
	$user-coupons-item-width: 50%;
	margin-left: $sassK-reset-margin-base;
	margin-right: $sassK-reset-margin-base;
	border:solid #bfbfbf;
	border-width: 0 1px 1px 1px;
	background:#fff inline-image("user/coupons.png") no-repeat center 0;
	background-size: 59.9rem;
	padding: 1rem 1rem 0;
	margin-bottom: 1rem;
	&:last-child{
		margin-bottom: 0;
	}
	.user-coupons-head{
		@extend .cl;
		border-bottom: 1px dashed #dbdbdb;
		.number,
		.text{
			float: left;
			height: 8rem;
		}
		.number{
			width: $user-coupons-item-width;
			padding-right: 5%;
			color: #ff9352;
			line-height: 8rem;
			text-align: center;
			font-family: Arial,Verdana,Sans-serif;
			i{
				font-size: 2rem;
				margin-right: 0.4rem;
			}
			span{
				font-size: 3.6rem;
			}
		}
		.text{
			$text-color: #333;
			width: 100% - $user-coupons-item-width;
			color: $text-color;
			h3{
				font-size: 1.5rem;
				line-height: 3rem;
				padding: 1rem 0 0.5rem;
			}
			h4{
				font-size: 1.2rem;
				line-height: 1.6;
				color: lighten($text-color, 20%)
			}
		}
	}
	.user-coupons-body{
		line-height: 3.6rem;
		font-size: 1.2rem;
		padding-left: $user-coupons-item-width;
		color: #686868;
	}
}
