@charset 'utf-8';
.user-address {
    padding-top: 1rem;
    .address-item {
        display: table;
        width: 100%;
        padding-left: $sassK-reset-padding-base;
        padding-right: $sassK-reset-padding-base;
        margin-bottom: $sassK-reset-margin-base;
        @include k-btn-active(#fff);
        &:last-child {
            margin-bottom: 0;
        }
    }
    .address-content {
        display: table-cell;
        padding: 1rem 0;
        font-size: 1.2rem;
        line-height: 1.8;
        .default {
            color: #f54b4b;
        }
        .name {
            margin-right: 1rem;
        }
        .header{
            font-size: 1.2rem;
        }
    }
    .address-arrow {
        display: table-cell;
        vertical-align: middle;
        width: 4rem;
        text-align: right;
    }
}

.user-address-btn {
    position: fixed;
    background: $sassK-reset-bg-color-base;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $sassK-reset-zIndex-base;
    padding:1rem;
}
