@charset 'utf-8';
.user-wraper {
    .user-header {
        padding: 2rem 0;
        height: 11rem;
        overflow: hidden;
        position: relative;
        padding-left: 8.5rem;
        > img {
            width: 7rem;
            height: 7rem;
            @include border-radius(50%);
            position: absolute;
            left: 0;
            top: 2rem;
        }
        > dl {
            height: 7rem;
            padding: 1rem 0;
            line-height: 2rem;
            dt {
                color: #343434;
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }
            dd {
                color: #9b9b9b;
                font-size: 1.2rem;
            }
        }
    }
    .user-nav {
        height: 4.4rem;
        text-align: center;
        > .user-nav-item {
            background: #fff;
            line-height: 4.4rem;
            &:first-child {
                border-right: 1px solid $janbuy-border-color;
            }
        }
    }
    .user-tab {
        height: 6.5rem;
        line-height: 1.8;
        @each $cls in unpay,
        unsend,
        unreceive,
        uncomment,
        payover {
            .#{$cls} {
                background: inline-image('user/#{$cls}.png') no-repeat center 0;
                background-size: 2.2rem;
            }
        }
        > .user-tab-item {
            font-size: 1.2rem;
            text-align: center;
            padding-top: 1.3rem;
            > div {
                width: 2.2rem;
                height: 2.2rem;
                margin-left: auto;
                margin-right: auto;
                position: relative;
            }
            i {
                position: absolute;
                top: -0.5rem;
                left: 50%;
                background-color: #f54b4b;
                @include border-radius(50%);
                font-size: 1rem;
                color: #fff;
                padding: 0.3rem;
                display: block;
                min-width: 1.6rem;
                line-height: 1;
            }
        }
    }
}

.profile-wraper {
    height: 9rem;
    img {
        width: 5rem;
        height: 5rem;
        @include border-radius(50%);
        display: inline-block;
        vertical-align: middle;
    }
}
